In [1]:
import numpy as np
import pandas as pd

from sklearn.metrics import mean_absolute_error

In [2]:
def data_convert(x):
    try:
        result = float(str(x).replace(',', '.')) if isinstance(x, np.str) else x
    except:
        result = 0
        
    return result

In [4]:
task_1_pred = pd.read_csv('../gc20bio_Debut_motility_ver1.csv', sep=';'); task_1_pred.head()

   video_id  progressive_%  non_progressive_%  immotile_%
0         1           0.38               0.31        0.12
1         2           0.28               0.29        0.17
2         3           0.31               0.30        0.16
3         4           0.37               0.26        0.15
4         5           0.30               0.35        0.19

In [5]:
task_2_pred = pd.read_csv('../gc20bio_Debut_morphology_ver1.csv', sep=';'); task_2_pred.head()

   video_id  head_defect_%  midpiece_defect_%  tail_defect_%
0         1           0.97               0.26           0.14
1         2           0.97               0.27           0.21
2         3           0.94               0.27           0.16
3         4           0.97               0.28           0.14
4         5           0.96               0.20           0.17

In [6]:
gt = pd.read_csv('semen_analysis_data.csv', sep=';').applymap(data_convert); gt.head()

,ID,Sperm concentration (x10⁶/mL),Total sperm count (x10⁶),Ejaculate volume (mL),Sperm vitality (%),Normal spermatozoa (%),Head defects (%),Midpiece and neck defects (%),Tail defects (%),Cytoplasmic droplet (%),Teratozoospermia index,Progressive motility (%),Non progressive sperm motility (%),Immotile sperm (%),"High DNA stainability, HDS (%)","DNA fragmentation index, DFI (%)"
0,1,105.3,363.1,3.5,81,2.0,98.0,11.2,38.0,3.4,1.54,51,19,30,13,29
1,2,45.4,141.6,3.1,50,3.0,97.0,8.5,24.5,2.0,1.36,22,16,62,13,57
2,3,50.0,124.5,2.5,90,6.9,90.6,32.8,14.3,1.5,1.51,18,26,56,11,12
3,4,42.9,103.8,2.4,80,2.8,96.5,24.1,23.1,5.2,1.53,33,26,41,10,15
4,5,32.8,158.7,4.8,90,3.2,95.0,32.5,15.7,7.0,1.56,43,22,35,21,13

# 期望

non_progressive_sperm_motility: 6.997536945812808  
progressive_sperm_motility: 10.348522167487685  
immotile_sperm: 8.589901477832512  
head Defects: 2.0457717569786538  
Mid defects: 7.786412151067323  
Tail Defects: 5.896428571428571

# non progressive

In [15]:
pred = np.array(task_1_pred['non_progressive_%']) * 100
true = np.array(gt['Non progressive sperm motility (%)'])

In [16]:
mean_absolute_error(true, pred)

10.576470588235294

# progressive

In [9]:
pred = np.array(task_1_pred['progressive_%']) * 100
true = np.array(gt['Progressive motility (%)'])

In [10]:
mean_absolute_error(true, pred)

10.364705882352942

# immotile

In [11]:
pred = np.array(task_1_pred['immotile_%']) * 100
true = np.array(gt['Immotile sperm (%)'])

mean_absolute_error(true, pred)

16.376470588235293

# head defects

In [12]:
pred = np.array(task_2_pred['head_defect_%']) * 100
true = np.array(gt['Head defects (%)'])

mean_absolute_error(true, pred)

1.4529411764705886

# mid defects

In [13]:
pred = np.array(task_2_pred['midpiece_defect_%']) * 100
true = np.array(gt['Midpiece and neck defects (%)'])

mean_absolute_error(true, pred)

7.785882352941178

# tail defects

In [14]:
pred = np.array(task_2_pred['tail_defect_%']) * 100
true = np.array(gt['Tail defects (%)'])

mean_absolute_error(true, pred)

5.429411764705882